---
import Layout from "../../layouts/Layout.astro";
import data from "../../../public/data.json";

const { id } = Astro.params;

function getProductById(id: string) {
  return data.sacos1.find((item) => item.id === id);
}
let product = getProductById(id);
console.log({ product });
export function getStaticPaths() {
  return data.sacos1.map((item) => ({
    params: {
      id: item.id,
    },
  }));
}
---

<Layout title={`Producto ${product?.id}`}>
  <main>
    <div class="mt-20 px-10 max-sm:px-2">
      <a href="/catalogo">
        <button
          type="button"
          class="w-full flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700"
        >
          <svg
            class="w-5 h-5 rtl:rotate-180"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path>
          </svg>
          <span>Volver al Catalogo</span>
        </button>
      </a>
    </div>
    <div class="grid grid-cols-2 mt-5 max-sm:grid-cols-1">
      <div
        class="grid grid-cols-4 gap-4 max-sm:grid-cols-2 justify-items-center align-items-end mb-10 w-auto h-auto"
      >
        <div class="col-span-4 w-1/2 h-1/2">
          <img
            src={"../../../public/" + product?.thumb_src}
            alt={product?.thumb_alt}
            class=""
          />
        </div>
        <div class="">
          <img
            src={"../../../public/" + product?.thumb_src}
            alt={product?.thumb_alt}
            class="w-full"
          />
        </div>
        <div class="">
          <img
            src={"../../../public/" + product?.thumb_src}
            alt={product?.thumb_alt}
            class="w-full"
          />
        </div>
        <div class="">
          <img
            src={"../../../public/" + product?.thumb_src}
            alt={product?.thumb_alt}
            class="w-full"
          />
        </div>
        <div class="">
          <img
            src={"../../../public/" + product?.thumb_src}
            alt={product?.thumb_alt}
            class="w-full"
          />
        </div>
      </div>
      <div class="p-5">
        <h4 class="text-indigo-950 text-3xl font-bold text-2xl mt-10">
          {product?.title}
        </h4>
        <h5 class="text-indigo-950/80 text-2xl font-bold text-2xl mt-5 mb-10">
          ${product?.price}
        </h5>
        <p class="text-slate-500 mb-10">
          {product?.full_description}
        </p>
        <h5 class="text-indigo-950/80 text-xl font-bold text-2xl mb-10">
          Colors:
        </h5>
        <div class="space-x-1">
          {
            product?.colors?.map((color) => {
              return (
                <span
                  class={`w-5 h-5 bg-${color}-500 inline-block rounded-lg `}
                />
              );
            })
          }
        </div>
      </div>
    </div>
  </main>
</Layout>
