---
import Layout from "../layouts/Layout.astro";
import data from "../../public/data.json";
import CardProduct from "../components/Catalogue/Card.astro";

const { catalogo } = Astro.props;
const allProducts = Object.values(data).flat();
---

<Layout title="Catálogo">
  <main class="pt-10 px-10">
    <h3 class="pt-10 font-bold text-4xl">Product Lists</h3>
    <p class="pb-10">Components and blocks for Product Lists</p>
    <div
      class="grid grid-cols-5 gap-x-5 max-sm:grid-cols-2 max-sm:gap-x-2 max-lg:grid-cols-3 max-lg:gap-x-2"
    >
      {
        allProducts.map((product) => (
          <div class="col-md-6 col-lg-3">
            <CardProduct
              thumb_src={product.thumb_src}
              thumb_alt={product.thumb_alt}
              color={product.color}
              colors={product.colors ?? []}
              title={product.title}
              description={product.description}
              price={product.price}
              id={product.id}
              position="center"
            />
          </div>
        ))
      }
    </div>
    <!-- <div>
      <a href={`?page=${page > 1 ? page - 1 : 1}`} class="btn">Previous</a>
      <a href={`?page=${page + 1}`}>Next</a>
    </div> -->
  </main>
</Layout>
